body{
    font-family: "Roboto", sans-serif;
    /* del font-weight: 500; */
    color: #434455;
    background-color:#FFFFFF;}
:root{
    --title-color:#ffffff;
    --background-color-body:#2e2f42;
    --portfolio-filter-color: #4D5AE5;
    --portfolio-filter-background:#F4F4FD;
    --color-main-menu: #434455;
}
.list{list-style: none;  }
.link{text-decoration: none; }
p,h1,h2,h3,h4,h5,h6 {margin: 0;}
ul,ol{margin: 0;   padding: 0  ;}
img{display: block;}

/* Main menu */
.main-menu {
    /* font-family: 'Raleway', sans-serif; */
    /* font-style: normal; */
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color-body);
}
 .main-menu:hover,
 .main-menu:focus {
     color: #404bbf; 
}
.logo-studio{
       /* font-family: 'Raleway', sans-serif; */
        /* font-style: normal; */
        /* font-weight: 800; */
        /* font-size: 18px; */
        /* line-height: 1.17; */
     
        /* letter-spacing: 0.03em; */
        /* text-transform: uppercase; */
        color: #2E2F42;
}

.main-return-index{
   
    color: var(--portfolio-filter-color);
    background-color: #FFFFFF;
 }
.main-footer-index {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
      
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--portfolio-filter-color);
    background-color: var(--background-color-body);
    padding-top: 102px;
}
/* .main-return-index:hover, */
/* .main-return-index:focus { */
    /* color: #404bbf;} */
.main-footer-index:hover,
.main-footer-index:focus {
    color: #FFFFFF;
}
.main-span-footer{
    color: var(--portfolio-filter-background);
}
.main-p-footer {
    color: var(--portfolio-filter-background);
    /* padding-top: 18px; */
    /* padding-bottom: 100px; */
}
.main-adress {
    font-style: normal; 
}

.main-email-tel{
    /* font-family: 'Roboto',sans-serif; */
    /* font-style: normal; */
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main-menu);
}
.main-email-tel:hover,
.main-email-tel:focus {
    color: #404bbf;
 
}
.main-section-first{
    background-color: var(--background-color-body);
}
.main-h-first {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center; 
    letter-spacing: 0.02em;
   
    color: var(--title-color);
}
.main-button {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
       
        letter-spacing: 0.04em;
        color: var(--title-color);
        background-color: var(--portfolio-filter-color);
     
        cursor: pointer;
    
}
.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
    }
.main-section-second{
    /* background: #E5E5E5;     */
}
.main-h-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 120px;
}
.main-p-second {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
    padding-top: 8px;
    /* margin-top: 8px; */
 }
.main-total-third{
    background-color: #F4F4FD;
}
.class-team-img{
   padding-top: 72px;
    background-color: #FFFFFF;
}
.main-h-third {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    /* color: #2E2F42; */
    color: var(--background-color-body);
    padding-top: 120px;
}

.main-fio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;

    /* background-color: var(--title-color); */
    letter-spacing: 0.02em;
    color: var(--background-color-body);
    /* color: #2E2F42; */
    border-top: 32px;
}
.job-title {
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-main-menu);
    border-top: 8px;
    border-bottom: 152px;
}
.footer-class{
   
    background-color: var(--background-color-body);
}
 
    
/****--------------- Portfolio */
.portfolio-filter{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--portfolio-filter-background);
    color:var(--portfolio-filter-color);
    cursor: pointer;
}
.portfolio-filter:hover, 
.portfolio-filter:focus {
    color: var(--title-color);
    background-color: #404BBF;
}
.portfolio-h-two{
    /* font-family: 'Roboto', sans-serif; */
        /* font-style: normal; */
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--background-color-body);
        /* background-color: var(--portfolio-filter-background); */
}
.portfolio-p{
    /* font-family: 'Roboto', sans-serif; */
    /* font-style: normal; */
    /* font-weight: 400; */
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main-menu);
} 
.main-img{
padding-top: 72px;  
}
.container {
    /* position: absolute; */
    width: 1440px;
    /* height: 72px; */
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    /* left: 0px; */
    /* top: 0px; */
    outline: 2px solid red;
    display: flex;
    justify-content: start;

    }
.container-hero{
    /* position: absolute; */
    width: 1440px;
    /* height: 600px; */
    left: 0px;
    top: 72px;
}
.container-second{
    /* position: absolute; */
    width: 1128px;
    /* height: 141px; */
    /* left: 156px; */
    top: 755px;
    margin: 83px 156px 0px 156px;


}
                