body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:#FFFFFF;}
:root{
    --title-color:#ffffff;
    --background-color-body:#2e2f42;
    --portfolio-filter-color: #4D5AE5;
    --portfolio-filter-background:#F4F4FD;
    --color-main-menu: #434455;
}
.list{list-style: none;  }
.link{text-decoration: none; }
p,h1,h2,h3,h4,h5,h6 {margin: 0;}
ul,ol{margin: 0;   padding: 0  ;}
img{display: block;}

/* Main menu */
.main-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color-body);
}
 .main-menu:hover,
 .main-menu:focus {
     color: #404bbf; 
}
.nav-class{
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
    
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.logo-studio{
    color: var(--background-color-body);
}

.main-return-index{
   
    color: var(--portfolio-filter-color);
    background-color: #FFFFFF;
 }
.main-footer-index {
    font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
      
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--portfolio-filter-color);
    background-color: var(--background-color-body);
    padding-top: 102px;
}
.main-footer-index:hover,
.main-footer-index:focus {
    color: #FFFFFF;
}
.main-span-footer{
    color: var(--portfolio-filter-background);
}
.main-p-footer {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--portfolio-filter-background);
}
.main-adress {
    font-style: normal; 
}

.main-email-tel{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main-menu);
}
.main-email-tel:hover,
.main-email-tel:focus {
    color: #404bbf;
 
}
.main-section-first{
    background-color: var(--background-color-body);
}
.main-h-first {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center; 
    letter-spacing: 0.02em;
   
    color: var(--title-color);
}
.main-button {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
       
        letter-spacing: 0.04em;
        color: var(--title-color);
        background-color: var(--portfolio-filter-color);
     
        cursor: pointer;
    
}
.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
    }
.main-section-second{}
.main-h-second {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    padding-top: 120px;
}
.main-p-second {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455; 
    padding-top: 8px;
 }
.main-total-third{
    background-color: #F4F4FD;
}
.class-team-img{
   padding-top: 72px;
    background-color: #FFFFFF;
}
.main-h-third {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--background-color-body);
    padding-top: 120px;
}

.main-fio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--background-color-body);
 
}
.job-title {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-main-menu);

}
.footer-class{
   
    background-color: var(--background-color-body);
}
 
    
/****--------------- Portfolio */
.portfolio-filter{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--portfolio-filter-background);
    color:var(--portfolio-filter-color);
    cursor: pointer;
}
.portfolio-filter:hover, 
.portfolio-filter:focus {
    color: var(--title-color);
    background-color: #404BBF;
}
.portfolio-h-two{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--background-color-body);
}
.portfolio-p{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main-menu);
} 
.main-img{
padding-top: 72px;  
}
.

                